/* body * {
    box-sizing: border-box;
    background-color: #fff;
} */

.whole {
    background-color:aliceblue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



.my-account {
    padding: 30px 0;
}

.my-account.profile {
    display: flex;
    flex-wrap: wrap;
}

.my-account .my-account-profile {
    padding: 20px 20px;
    text-align: center;
    width: 250px;
    height: 210px;
    background: #d5d5d5;
}

.my-account .my-account-profile p.short-name {
    font-size: 50px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #141414;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-transform: uppercase; */
}

.my-account .my-account-profile p.username {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #070707;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}


.my-account span.Beyoungster {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: gray;
}

.my-account .myaccount-navigation {
    padding: 0px 10px;
    border: 1px solid #d4d5d5;
    color: grey;
    margin-bottom: 20px;
    
}

ul {
    list-style: none;
}

.myaccount-navigation ul li {
    padding: 30px 0px;
    border-bottom: 1px solid #d5d5d5;
}

.myaccount-navigation .active {
    color:black;
}

.my-profile.my-address-form.profile-from {
    margin-left: 80px;
    width: 55%;
}

.my-profile.my-address-form.profile-from p.short-name {
    font-size: 50px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #141414;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.my-profile.my-address-form.profile-from .form-control {
    margin-top: 30px;
}

.my-address-form .form-control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-address-form .form-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 48%;
}

.my-address-form .form-control label {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
    color: #181818;
    transition: all 0.1s ease;
    margin-bottom: 5px;
}

.my-address-form .form-control sub {
    color: red;
}

.my-profile.my-address-form.profile-from input {
    border-bottom: 1px solid rgb(159, 157, 157);
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 8px 0px;
    background-color: #d5d5d5;
    color: #000;
}

.my-address-form .in {
    width: 100%;
}

.gender-tab-box {
    padding: 15px 0 15px;
    display: flex;
    align-items: center;
}

.gender-tab-box small {
    margin-right: 15px;
    font-size: 14px;
    color: black;
}

.my-address-form .gender-tab-box sub {
    color: red;
}

.gender-tab-box .in-box {
    border-right: 0;
    display: flex;
    align-items: center;
    max-width: max-content;
    border-radius: 3px;
}

.gender-tab-box label {
    border: 1px solid #e6e6e6;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
}

/* .my-profile.my-address-form.profile-from input {
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 8px 0px;
} */

.gender-tab-box span {
    display: inline-block;
    color: #000;
    font-size: 14px;
    padding: 10px 22px;
    font-weight: 500;
}

.my-profile.my-address-form.profile-from button.form-change-btn {
    background: #feeb00;
    color: #000;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.form-change-btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
    color: #fff;
    padding: 12px 20px;
    background: #51cccc;
}

@media (min-width:300px) and (max-width:760px) {
    .my-profile.my-address-form.profile-from {
        margin-left: 10px;
        width: 55%;
    }

    .my-profile.my-address-form.profile-from p.short-name {
        display: none;
    }

}